.img{
    justify-content: space-evenly;
    display: flex;
    margin: 1% 2% 2% 2%;
    scale: 90%;

}
.border{
    border: 2px solid black;
}

.head-photo{
    scale: 97%;
}

body{
    margin: 0%;
    padding: 0%;
    font-family:cursive;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    
}

.row_countainer_element-red{
    background-color: red;
    width: 20%;
    height: 300px;
}

.row_countainer_element-red2{
    width: 30%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row_countainer_element-grey{
    background-color: rgb(201, 201, 201);
    width: 25%;
    height: 375px;
    margin: 2.5%;
}

.row_countainer{
    justify-content: space-evenly;
    height:fit-content;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
}
.row_countainer_element-grey2 {
    background-color: rgb(201, 201, 201);
    width: 95%;
    height: 175px;
}

.row_countainer_element-grey3 {
    background-color: rgb(201, 201, 201);
    width: 95%;
    height: 525px;
}
footer{
    background-color: rgb(71, 71, 71);
    width: 100%;
    height: 100px;
}
.line{
    border: 2px solid black;
    height: 1%;
    justify-content: space-evenly;
    display: flex;
    margin: 2%;
}
.photo{
    background-image: url(/Png/dom-trud.jpg);
    width: 620px ;
    height: 378px;
    background-size: cover;
}

.fifty{
    width: 50%;
    height: fit-content;
}

.text{
    background-color: rgb(201, 201, 201);
    width: 50%;
    height: fit-content;
    margin: 2.5%;
    padding: 2%;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.small{
    max-width: 455px;
}
.text-row{
    background-color: rgb(201, 201, 201);
    width: 100%;
    height: fit-content;
    margin: 2.5%;
    padding: 2%;
}