.h{
    text-align: center;
}
p{
    margin: 0%;
    text-align: justify;

}
.pp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.in{
    display: flex;
    justify-content: center;
}
